.list {
    width: 100%;

    .employee-table {
        width: 100%;
        border-collapse: collapse;

        th,
        td {
            text-align: left;
            padding: 0.5rem;
        }

        .employee-table-row {
            border-top: 1px solid #eee;
        }
    }
}

.page-title {
    margin-bottom: 0.25rem
}

.team-title-container {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    margin-top: 0.5rem;
}

.shift-type-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.35rem 0
}