/* Global styles */
@use '@angular/material' as mat;
@use './app/app.scss';

html, body { 
  height: 100%; 
  margin: 0; 
}

body { 
  background-color: #f1f5f9; 
}

.table-scroll {
  overflow-x: auto;
  margin-top: 1rem;
}

/* Material overrides */
.mat-mdc-button-base {
  border-radius: 12px !important;
}
