h2 {
    margin-top: 0;
}

.team-card .btn {
    margin-left: 0.35rem;
}

.header-row .btn {
    margin-left: 0.5rem;

    .header-title {
        display: block;
    }
}

.team-buttons-container {
    margin-left: auto;
    display: flex;
}